PORT=9000
JWT_SECRET=change-this-to-a-random-secret
DB_PATH=./db.json
NODE_ENV=production
HOST=0.0.0.0
APP_URL=
ENCRYPTION_KEY=7ebdf6589b8b2563d260ac810cca2531fc18f8b1509af8678ef50a12ae38d1d9
DEFAULT_ADMIN_PASSWORD=your-secure-admin-password
TRUST_PROXY=true
